* {
    font-family: '微軟正黑體';
    letter-spacing: 2px;
    line-height: 1.5;
    transition: all 0.2s ease;
}

body {
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.ac {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fc {
    display: flex;
    flex-direction: column;
}

.ww {
    display: flex;
    flex-wrap: wrap;
}

.br {
    border-radius: 20px;
}

.bgw {
    background-color: #ffffff66;
    backdrop-filter: blur(5px);
    border: #fff 1px solid;
    border-radius: 20px;
}

.cu {
    cursor: pointer;
}

/* ==================textcolor================== */
:root {
    --mc: #019cab;
    --fc: #fffcab;
    --ic: #f03e08;
}

.mc {
    color: var(--mc) !important;
}

.ic {
    color: var(--ic) !important;
}

.yc {
    color: var(--fc) !important;
}

.w {
    color: #fff;
    text-shadow: #00000099 0px 0px 10px;
}

::selection {
    background-color: var(--mc);
    color: var(--fc);
}

/* ==================btn================== */
.abtn {
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, var(--fc)-50%, var(--mc) 100%);
    border-radius: 100px;
    border: var(--mc) 1px solid;
    cursor: pointer;
    width: 13rem;
    padding: 4px 8px;
    text-align: center;
}

.abtn span {
    opacity: 0;
    margin-left: -12px;
}

.abtn:hover span {
    opacity: 1;
    margin-left: 8px;
}


/* ==================text================== */
.tit {
    font-size: 5rem;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: var(--mc) 0.08rem;
    text-shadow:
        #fff 2px 2px 2px,
        var(--fc) 0px 2px 2px,
        #00000033 5px 5px 5px;
}

.nt {
    background-color: #888888dd;
    backdrop-filter: blur(5px);
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
}

.user {
    background-color: var(--mc);
    backdrop-filter: blur(5px);
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.tt {
    background-color: var(--mc);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-shadow: #ffffff99 0px 5px 5px;
}

.n {
    font-size: 1.5rem;
}

.b {
    font-weight: bold
}

.bi {
    font-size: 5rem;
}

.bi svg path {
    stroke-width: 20;
    stroke: #444;
    color: #ffffffbb;
}

.num {
    margin-top: -120px;
    margin-right: 20px;
    margin-left: -5.5rem;
}

.numm {
    margin-top: -120px;
    margin-right: 20px;
}

/* ==================navbar================== */
.navbar {
    background-color: #ffffffdd;
    border-radius: 100px;
    box-shadow: #00000033 5px 5px 10px;
    z-index: 100;
    top: 15px;
    width: 85%;
    left: 7.5%;
    backdrop-filter: blur(5px);
}

.nav-link span {
    margin-right: 20px;
}

.ch {
    font-size: 1rem;
    border-bottom: 1px solid #888;
}

.en {
    color: var(--mc);
    font-size: 0.9rem;
}

/* ==================s0================== */
#s0 {
    background: url(../images/s0.png) center center no-repeat fixed #ddd;
    background-size: cover;
}

.st {
    text-align: left;
}

.carousel-caption {
    position: absolute;
    top: 25vh;
    left: 10vw;
}

.carousel-caption .tit {
    background-image: linear-gradient(to right, #fffcabbb, #019cabbb);
    display: inline-block;
    border-radius: 5px;
    padding: 4px 2rem;
    font-size: 8vw;
}

.ttt {
    font-size: 7rem;
}

.carousel-caption .nt {
    font-size: 2rem;
    border-radius: 50px;
    padding: 4px 2rem;
}

.carousel-caption .abtn {
    margin-left: 4vw;
}

/* ==================s1================== */
#s1 {
    background: url(../images/s1.png) center center no-repeat;
    background-size: cover;
    padding: 10vh 0;
    min-height: 110vh;
}

.icon {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    border: #fff 5px solid;
    box-shadow: var(--mc) 0px 0px 10px;
    overflow: hidden;
    margin-right: 20px;
}

.icon img {
    height: 115px;
}

.if {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    border: #fff 5px solid;
    box-shadow: var(--mc) 0px 0px 10px;
    overflow: hidden;
    margin-right: 20px;
}

.if img {
    height: 65px;
}

.dot {
    overflow: hidden;
    border-radius: 50%;
    animation: don 3s infinite alternate;
    width: 670px;
    height: 520px;
    margin-left: -150px;
    margin-right: 100px;
    margin-top: 150px;
}

@keyframes don {
    to {
        border-radius: 57% 43% 56% 44%/43% 56% 44% 57%;
    }
}

.don img {
    height: 520px;
}

.lt {
    width: 70%;
}

/* ==================s2================== */
#s2,
#s3 {
    padding: 10vh 0;
    min-height: 100vh;
}

.ca {
    overflow: hidden;
}

.ca:hover {
    transform: scale(120%);
    z-index: 10;
}

.bow {
    padding: 4px 50px;
    background-color: var(--ic);
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    transform: rotate(45deg);
    right: -45px;
    top: 25px;
    z-index: 2;
}

/* ==================s3================== */
.barb {
    height: 60px;
    border-radius: 100px;
    background-color: #ddd;
    box-shadow: #00000033 5px 5px 5px inset;
}

.bar {
    background-image: linear-gradient(to right, var(--mc) -20%, #d8fcff 50%, var(--fc) 100%);
    height: 60px;
    border-radius: 100px;
    transition: 2s;
}

/* ==================s4================== */
#s4 {
    background-image: linear-gradient(20deg, var(--mc) -20%, #d8fcff 50%, var(--fc) 100%);
    padding: 10vh 0;
    min-height: 100vh;
}

.day {
    height: 60vh;
    overflow-y: scroll;
}

.sp {
    height: 10vh;
}

th {
    border-top: none !important;
    background-color: var(--mc);
    border-radius: 50px 0 50px 0;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

th:hover {
    color: var(--fc) !important;
}

.active {
    color: var(--ic) !important;
}

.tab-pane {
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    transition: 0.2s ease;
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
    color: #222 !important;
}

.tab-pane:hover {
    background-color: #fff;
    box-shadow: #00000033 3px 5px 10px;
}

.th {
    height: 30vh;
    width: 100%;
}


.h0 {
    background: url(../images/h0.png) center center no-repeat;
    background-size: cover;
}

.h1 {
    background: url(../images/h1.png) center center no-repeat;
    background-size: cover;
}

.h2 {
    background: url(../images/h2.png) center center no-repeat;
    background-size: cover;
}

.h3 {
    background: url(../images/h3.png) center center no-repeat;
    background-size: cover;
}

/* ==================s5================== */
#s5 {
    background: url(../images/s5.png) center center no-repeat fixed;
    background-size: cover;
    padding-top: 15vh;
    overflow-x: hidden;
}

.pool {
    display: flex;
    position: relative;
    transition: none;
}

.chat {
    width: 400px;
    background-color: #ffffffbb;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

/* ==================footer================== */
footer {
    background-color: var(--fc);
    margin-top: 200px;
    position: relative;
}

footer::before {
    background-color: var(--fc);
    content: '';
    position: absolute;
    top: -60px;
    width: 110%;
    left: -5%;
    height: 100px;
    border-radius: 50% 50% 0 0;
}

footer *,
.roform span {
    color: #3f2609;
}

footer a:hover {
    color: var(--ic);
}

.fi {
    font-size: 40px;
}

.ft {
    font-size: 20px;
}

/* ==================modal================== */
.modal {
    background-color: #00000099;
    height: 100vh;
    transition: none;
    z-index: 1000;
}

.mi {
    background-color: #fff;
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    max-height: 85vh;
    overflow-y: auto;
}

.q {
    color: #444;
    font-size: 100px;
}

/* ==================robot================== */
.robot {
    position: fixed;
    z-index: 10000;
    bottom: 30px;
    right: 30px;
}

.robox {
    width: 400px;
    height: 550px;
    border-radius: 20px;
    border: var(--mc) 1px solid;
    background-color: #ffffff99;
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 15px;
    right: 80px;
    overflow: hidden;
    transition: none;
}

.rt {
    width: 80%;
}

.roo {
    color: var(--mc);
    font-size: 60px;
}

.rohi {
    color: var(--mc);
    font-size: 70px;
}

.roc {
    background-color: var(--mc);
    border-radius: 100px;
    color: #fff;
    height: 70px;
    width: 70px;
    font-size: 55px;
}

.roo::before {
    background-color: #fff;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    content: '';
    position: absolute;
}

.rosay {
    background-color: var(--fc);
    border-radius: 0px 50px 50px 50px;
    display: inline-block;
    padding: 10px 15px;
}

.ussay {
    background-color: #b7f7fd;
    border-radius: 50px 0px 50px 50px;
    display: inline-block;
    padding: 10px 15px;
}

form .abtn span {
    color: #fff !important;
}

form .abtn {
    width: 9rem;
}

.rot {
    height: 420px;
    overflow-y: scroll;
}

.menu div {
    cursor: pointer;
    height: 60px;
    background-color: #fff;
    border: var(--ic) 1px solid;
    color: var(--ic);
    width: 30%;
    margin: 1.5%;
    border-radius: 5px;
}

.roq {
    background-color: #8ddbe2;
    height: 60px;
}

.roq div {
    overflow: hidden;
}

.roq span {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: var(--mc);
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* ==================rwd================== */
.mhp {
    display: none;
}

@media (max-width:1500px) {
    .tit {
        font-size: 4rem
    }

    .mi {
        width: 60%;
    }

    .navbar {
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 0 0 20px 20px;
    }

}

@media (max-width:1200px) {

    #home,
    .dot {
        display: none;
    }

    .mhp {
        background: url(../images/c1.png) center center no-repeat;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vh;
    }

    .mhp .tit {
        background-image: linear-gradient(to right, #fffcabbb, #019cabbb);
        display: inline-block;
        border-radius: 5px;
        padding: 4px 2rem;
        font-size: 8rem;
    }

    .mhp .nt {
        font-size: 2rem;
        border-radius: 50px;
        padding: 4px 2rem;
    }
}

@media (max-width:765px) {
    .ttt {
        font-size: 4rem;
    }

    .mhp .nt {
        font-size: 1.5rem;
        padding: 4px 1.2rem;
    }

    .mhp h3 {
        font-size: 1.2rem;
    }

    .mhp .tit {
        font-size: 4rem;
    }

    .tit {
        font-size: 3.5rem
    }

    .mi {
        width: 80%;
    }

    .robot {
        bottom: 20px;
        right: 20px;
    }

    .robox {
        bottom: 80px;
        right: 0;
    }

    .num {
        margin-left: 0;
    }

    #s1 {
        min-height: 150vh;
    }

    .ca:hover {
        transform: scale(100%);
        filter: brightness(110%);
    }

    .bar,
    .barb {
        height: 70px;
    }

    .bar {
        padding: 10px;
    }
}

/* ==================ani================== */
.an {
    opacity: 0;
    transform: translateY(1.2rem);
    transition: 0.8s;
}

.f {
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s;
}